@import 'tailwindcss';

@theme {
  /** color */
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-lightGray: #f2f4f6;
  --color-white: #ffffff;
  --color-black: #222222;

  /** text color */
  --text-color-primary: #353c49;
  --text-color-secondary: #6d7582;
  --text-color-subtitle: #8d94a0;

  /** font */
  --font-family-primary: 'Noto Sans KR', sans-serif;

  /** font size */
  --font-size-title1: 1.5rem;
  --font-size-title2: 1.375rem;
  --font-size-title3: 1.125rem;

  --font-size-body1: 1.25rem;
  --font-size-body2: 0.875rem;

  --font-size-caption: 1rem;
  --font-size-small: 0.625rem;
}
