@import 'tailwindcss';

@theme {
  /** color */
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-lightGray: #f2f4f6;
  --color-white: #ffffff;
  --color-black: #222222;

  /** text color */
  --text-color-primary: #353c49;
  --text-color-secondary: #6d7582;
  --text-color-subtitle: #8d94a0;
  --text-color-blue: #4880ee;

  /** font */
  --font-family-primary: 'Noto Sans KR', sans-serif;
}
