@import 'tailwindcss';

@theme {
  /** color */
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-lightGray: #f2f4f6;
  --color-white: #ffffff;
  --color-black: #222222;

  /** text color */
  --text-color-primary: #353c49;
  --text-color-secondary: #6d7582;
  --text-color-subtitle: #8d94a0;

  /** font */
  --font-family-primary: 'Noto Sans KR', sans-serif;

  /** @todo 시간남으면 반응형 */
  --breakpoint-tablet: 768px;
  --breakpoint-pc: 1280px;
}
